{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_form_inner %}
    {{ parent() }}

    {% if page.product.extensions.MoorlFormsExample %}
        <div class="mt-3">
            {% for form in page.product.extensions.MoorlFormsExample %}
                {% sw_include "@MoorlForms/plugin/moorl-fb/component/form/index.html.twig" %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
